@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    margin: 20px;
    display: flex;
    justify-content: center;

}

.container-field-input {
    display: grid;
    align-items: center;
    max-width: 900px;
}
  
.suggestions { 
    display: flex;
    flex-direction: column;
}

button { 
    border: none;    
}

input { 
    height: 30px;
    border: 1px solid black;
    margin: 20px;
}

input:focus { 
    border: none;
}

.page-title { 
   text-align: center;
}